hostname: {{inventory_hostname}}
build_dir: "../temp/dellos10"
 
dellos_system: 
    hostname: {{inventory_hostname}}
 
 
dellos_interface:
{% for i in range(nb_leaf) %}
   ethernet 1/1/{{i+1}}:
      desc: "Connected to leaf{{i+1}}"
      switchport: False
      admin: up
      ip_and_mask: 172.16.0.{{ (i+ ((inventory_hostname.strip("spine")| int )-1)*nb_leaf) * nb_spine }}/31
{% endfor %}
   loopback 0:
      ip_and_mask: 10.0.0.{{ (inventory_hostname.strip("spine")| int ) }}/32

dellos_bgp:
##    state: absent
    asn: 10
    router_id: 10.0.0.{{ (inventory_hostname.strip("spine")| int ) }}
    neighbor:
{% for i in range(nb_leaf) %}
      - ip: 172.16.0.{{ ((i+ ((inventory_hostname.strip("spine")| int )-1)*nb_leaf) * nb_spine)+1 }}
        type: ipv4
        remote_asn: 1{{i+1}}
        timer: 3 9
        adv_interval: 40
        fall_over: present
        default_originate: False
        sender_loop_detect: false
        admin: up
        state: present

      - ip: 10.0.0.{{i+nb_spine+1}}
        type: ipv4
        remote_asn: 1{{i+1}}
        timer: 3 9
        adv_interval: 40
        fall_over: present
        default_originate: False
        sender_loop_detect: false
        src_loopback: 0
        src_loopback_state: present
        send_community:
           - type: extended
           - state: present
        address_family: 
           - type: ipv4
             activate: false
           - type: l2vpn
             activate: true
        admin: up
        state: present      
{% endfor %}     
    redistribute:
      - route_type: connected
        address_type: ipv4
        state: present
#============================================================

